<ion-content [fullscreen]="true">
  <div class="container">

  <app-header></app-header>
  <form>
    <div class="ion-padding">
      <ion-grid>
        <ion-row class="title">
          <ion-col></ion-col>
          <ion-col *ngIf="mainContact" size="auto">
            <div style="width: 180px ;text-align: center"> Registre seu anjo da guarda</div>
          </ion-col>
          <ion-col *ngIf="!mainContact" size="auto">
            <div style="width: 180px ;text-align: center"> Registre seu contato Médico</div>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row style="margin-top: 15%;">
          <ion-col>
            <ion-item>
              <ion-input label="Nome" class="nome"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input label="E-mail" class="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input label="Telefone" class="telefone"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item *ngIf="mainContact">
              <ion-select label="Relação" placeholder="Relação">
                <ion-select-option value="familia">Familiar</ion-select-option>
                <ion-select-option value="amigo">Amigo</ion-select-option>
                <ion-select-option value="namorada">Namorado ou Namorada</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="!mainContact">
              <ion-select label="Especialidade" placeholder="Especialidade">
                <ion-select-option value="psiquiatra">Psiquiatria</ion-select-option>
                <ion-select-option value="psicologa">Psicologia</ion-select-option>
                <ion-select-option value="mentor">Mentoria</ion-select-option>
                <ion-select-option value="coach">Coach</ion-select-option>
                <ion-select-option value="ld-relig">Líder Religioso</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div>
      <ion-row>
        <ion-fab horizontal="center" style="margin-bottom: 10px;">
          <ion-button shape="round" color="tertiary" [routerLink]="['/home']">
            <ion-label>
              < Voltar </ion-label>
          </ion-button>
        </ion-fab>
      </ion-row>
    </div>
    <div style="margin-top: 55px;">
      <ion-row *ngIf="mainContact">
        <ion-fab horizontal="center" style="margin-bottom: 10px;">
          <ion-button shape="round" color="tertiary" (click)="clickButton('mainContact')"
            [routerLink]="['/contacts/register']">
            <ion-label>Cadastrar ></ion-label>
          </ion-button>
        </ion-fab>
      </ion-row>
      <ion-row *ngIf="!mainContact">
        <ion-fab horizontal="center" style="margin-bottom: 10px;">
          <ion-button shape="round" color="tertiary" (click)="clickButton('medicalContact')"
            [routerLink]="['/contacts/register']">
            <ion-label> Cadastrar > </ion-label>
          </ion-button>
        </ion-fab>
      </ion-row>
    </div>
    

  </form>
  <!-- <app-panic-button></app-panic-button> -->
</div>
</ion-content>

