<ion-content [fullscreen]="true">
  <div class="container">
    <app-header></app-header>
  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="nome" placeholder="usuário" class="input" [required]="true"></ion-input>
        <ion-icon name="person-outline" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['nome'].touched 
      && this.regForm.controls?.['nome'].invalid">
        <ion-text *ngIf="errorControl.nome.errors?.required">
          Nome é obrigatório
        </ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="mail-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-input formControlName="telefone" placeholder="telefone" class="input"></ion-input>
        <ion-icon name="call-outline" slot="end"></ion-icon>
      </ion-item>
     
      <ion-item>
        <ion-button fill="clear" (click)="clickButton('mainContact')" [routerLink]="['/contacts/register']"><ion-icon slot="start"
            name="add-outline"></ion-icon>Cadastrar Anjo-da-Guarda</ion-button>
      </ion-item>
      <ion-item>
        <ion-button fill="clear" (click)="clickButton('medicalContact')" [routerLink]="['/contacts/register']"><ion-icon slot="start"
            name="add-outline"></ion-icon>Cadastrar Contatos Médicos</ion-button>
      </ion-item>
      <!-- <ion-item>
        <ion-button fill="clear" [routerLink]="['/preferences/music-register']" disabled><ion-icon slot="start"
            name="add-outline"></ion-icon>Cadastrar Músicas Preferidas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button fill="clear" [routerLink]="['/preferences/places-register']" disabled><ion-icon slot="start"
            name="add-outline"></ion-icon>Cadastrar Lugares Preferidos</ion-button>
      </ion-item>
      <ion-item>
        <ion-button fill="clear" [routerLink]="['/preferences/photo-register']" disabled><ion-icon slot="start"
            name="add-outline"></ion-icon>Cadastrar Imagens Preferidas</ion-button>
      </ion-item> -->


    </div>
    <div>
      <ion-row>
        <ion-fab horizontal="center" style="margin-bottom: 10px;">
          <ion-button shape="round" color="tertiary" [routerLink]="['/home']">
            <ion-label>
              < Voltar </ion-label>
          </ion-button>
        </ion-fab>
      </ion-row>
    </div>
    <div style="margin-top: 55px;">
      <ion-row>
        <ion-fab horizontal="center" style="margin-bottom: 10px;">
          <ion-button shape="round" color="tertiary" (click)="save()">
            <ion-label>Cadastrar ></ion-label>
          </ion-button>
        </ion-fab>
      </ion-row>
    </div>
    <!-- <ion-grid>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button class="action-button" style="--border-color: #25a139; color:#25a139" fill="outline" [routerLink]="['/home']">Add</ion-button>
        </ion-col>
        <ion-col style="text-align: center;">
          <ion-button  class="action-button" style="--border-color: #e21b1b; color:#e21b1b" fill="outline"  [routerLink]="['/home']">Voltar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->


  </form>
</div>
</ion-content>