Process exited with code 1
C:\Program Files\nodejs\node.exe .\src\app\api\index.js


 ███████╗ ███████╗ ███████╗     ███╗   ███╗  █████╗  ███╗   ██╗  █████╗ 
 ██╔════╝ ██╔════╝ ██╔════╝     ████╗ ████║ ██╔══██╗ ████╗  ██║ ██╔══██╗
 █████╗   █████╗   █████╗       ██╔████╔██║ ███████║ ██╔██╗ ██║ ███████║
 ██╔══╝   ██╔══╝   ██╔══╝       ██║╚██╔╝██║ ██╔══██║ ██║╚██╗██║ ██╔══██║
 ██║      ███████╗ ███████╗     ██║ ╚═╝ ██║ ██║  ██║ ██║ ╚████║ ██║  ██║
 ╚═╝      ╚══════╝ ╚══════╝     ╚═╝     ╚═╝ ╚═╝  ╚═╝ ╚═╝  ╚═══╝ ╚═╝  ╚═╝

  ██████╗  ███████╗ ███╗   ███╗ ███████╗ ███╗   ██╗ ████████╗      █████╗ 
 ██╔════╝  ██╔════╝ ████╗ ████║ ██╔════╝ ████╗  ██║ ╚══██╔══╝     ██╔══██╗
 ██║  ███╗ █████╗   ██╔████╔██║ █████╗   ██╔██╗ ██║    ██║        ███████║
 ██║   ██║ ██╔══╝   ██║╚██╔╝██║ ██╔══╝   ██║╚██╗██║    ██║        ██╔══██║
 ╚██████╔╝ ███████╗ ██║ ╚═╝ ██║ ███████╗ ██║ ╚████║    ██║        ██║  ██║
  ╚═════╝  ╚══════╝ ╚═╝     ╚═╝ ╚══════╝ ╚═╝  ╚═══╝    ╚═╝        ╚═╝  ╚═╝

 ██████╗  ██╗     ███████╗ ███████╗ ██████╗  ██╗   ██╗ ███████╗ ██████╗ 
 ██╔══██╗ ██║     ██╔════╝ ██╔════╝ ██╔══██╗ ██║   ██║ ██╔════╝ ██╔══██╗
 ██████╔╝ ██║     ███████╗ █████╗   ██████╔╝ ██║   ██║ █████╗   ██████╔╝
 ██╔═══╝  ██║     ╚════██║ ██╔══╝   ██╔══██╗ ╚██╗ ██╔╝ ██╔══╝   ██╔══██╗
 ██║      ██║     ███████║ ███████╗ ██║  ██║  ╚████╔╝  ███████╗ ██║  ██║
 ╚═╝      ╚═╝     ╚══════╝ ╚══════╝ ╚═╝  ╚═╝   ╚═══╝   ╚══════╝ ╚═╝  ╚═╝
(4) [{…}, {…}, {…}, {…}]
0: {cifno: 'NAA0010', ddaNumber: 17226444, bpsAcctNumber: '', feeType: 1, feeDescription: 'AccountMaintenance', …}
bpsAcctNumber: ''
bpsFeeTypeCode: ''
cifno: 'NAA0010'
ddaNumber: 17226444
entity: 'SNB/284'
feeAmount: 609
feeCode: 'JH001'
feeDescription: 'AccountMaintenance'
feeGroup: 1
feeType: 1
isFeesStandard: 'Yes'
kycMailingStatus: null
source: 'JHA'
[[Prototype]]: Object
1: {cifno: 'NAA0010', ddaNumber: 17226444, bpsAcctNumber: '', feeType: 2, feeDescription: 'HoldMail', …}
bpsAcctNumber: ''
bpsFeeTypeCode: ''
cifno: 'NAA0010'
ddaNumber: 17226444
entity: 'SNB/284'
feeAmount: 0
feeCode: 'JH002'
feeDescription: 'HoldMail'
feeGroup: 1
feeType: 2
isFeesStandard: 'No'
kycMailingStatus: 'Hold Mail'
source: 'JHA'
[[Prototype]]: Object
2: {cifno: 'NAA0010', ddaNumber: 17226444, bpsAcctNumber: '', feeType: 3, feeDescription: 'USD/FXIncomingWire', …}
bpsAcctNumber: ''
bpsFeeTypeCode: ''
cifno: 'NAA0010'
ddaNumber: 17226444
entity: 'SNB/284'
feeAmount: 10
feeCode: 'JH010'
feeDescription: 'USD/FXIncomingWire'
feeGroup: 2
feeType: 3
isFeesStandard: 'Yes'
kycMailingStatus: null
source: 'JHA'
[[Prototype]]: Object
3: {cifno: 'NAA0010', ddaNumber: 17226444, bpsAcctNumber: '20002089', feeType: 6, feeDescription: 'SafekeepingCustody', …}
bpsAcctNumber: '20002089'
bpsFeeTypeCode: 'C'
cifno: 'NAA0010'
ddaNumber: 17226444
entity: 'SNB/284'
feeAmount: 375
feeCode: 'A053'
feeDescription: 'SafekeepingCustody'
feeGroup: 3
feeType: 6
isFeesStandard: 'Yes'
kycMailingStatus: null
source: 'BPS'
[[Prototype]]: Object
length: 4
[[Prototype]]: Array(0)
[[Prototype]]: Object
