<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Recuperar sua conta
      <p class="subTitle">
        Receber um link de redefinição de senha
      </p>
    </ion-title>

  </div>
  <div>
    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input name="mail" [(ngModel)]="email" placeholder="Digite seu email" class="input"></ion-input>
          <ion-icon name="mail-outline" slot="end"></ion-icon>
        </ion-item>
      </div>
    </form>
    <ion-fab horizontal="center" style="margin-bottom: 10px;">
      <ion-button shape="round" color="tertiary" (click)="resetPassword()">
        <ion-label>Enviar ></ion-label>
      </ion-button>
    </ion-fab>
  </div>
</ion-content>