<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Recuperar sua conta
      <p class="subTitle">
        Receber um link de redefinição de senha
      </p>
    </ion-title>

  </div>
  <div>
    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input [(ngModel)]="email" placeholder="Digite seu email" class="input"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
      </div>
    </form>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="resetPassword">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>