.container {
  text-align: center;
 padding: 0px 10px 0px 10px;
//  margin: 10px 10px 0px 10px;

} 
.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  // border: 1px solid #8c8c8c;
  border-radius: 50%;
}

.action-button{
  width: 60%;
  height: 60px;
  --border-radius: 20px;
}

.button-action {
height: 45px;
width: 300px;
}