<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">Bem Vindo</ion-title>
    <p class="subTitle">Registre sua conta</p>
  </div>

  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullName" placeholder="usuário" class="input" [required]="true"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['fullName'].touched 
      && this.regForm.controls?.['fullName'].invalid">
        <ion-text *ngIf="errorControl.fullName.errors?.required">
          Nome é obrigatório
        </ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="email" placeholder="email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      <div class="error ion-padding" *ngIf="this.regForm.controls?.['email'].touched 
      && this.regForm.controls?.['email'].invalid">
        <ion-text *ngIf="errorControl.email.errors?.required">
          Email é obrigatório
        </ion-text>
        <ion-text *ngIf="errorControl.email.errors?.pattern">
          Email precisa ser válido
        </ion-text>
      </div>
      <ion-item>
        <ion-input formControlName="password" placeholder="senha" class="input"></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      <div *ngIf="this.regForm.controls?.['password'].touched 
      && this.regForm.controls?.['password'].invalid">
        <ion-text *ngIf="errorControl.password.errors?.required">
          Senha é obrigatória
        </ion-text>
        <ion-text *ngIf="errorControl.password.errors?.pattern">
          Senha precisa de no min. 8 digitos contendo
          Letras maiuscula, minuscula e caracter especial
          
        </ion-text>
      </div>
      <div class="resetPassword">
        <a [routerLink]="['/reset-password']" style="color:#FFC33F">Esqueceu a senha</a>
      </div>
      <div class="loginLink">
        <p> Já é Cadastrado?<a [routerLink]="['/login']" style="color:#FFC33F">Login</a></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
      <ion-fab-button (click)="singUp()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>