<ion-content [fullscreen]="true">
  <div class="container">
    <app-header></app-header>
    <ion-title size="large"*ngIf="mainContactList">
      Seu Anjo Anjo da Guarda
    </ion-title>
    <ion-title size="large"*ngIf="!mainContactList">
      Seus contatos médicos
    </ion-title>
    <ion-item *ngIf="mainContactList">
      <ion-item-sliding *ngFor="let mainContact of mainContacts">
        <ion-item>
          <ion-label>
            {{mainContact.nome}}
            <p>
              {{mainContact.telefone}}
            </p>
            <p>
              {{mainContact.email}}
            </p>
          </ion-label>
        </ion-item>

      </ion-item-sliding>
    </ion-item>
    <ion-item *ngIf="!mainContactList">
      <ion-item-sliding *ngFor="let listMed of listMeds">
        <ion-item>
          <ion-label>
            {{listMed.nome}}
            <p>
              {{listMed.telefone}}
            </p>
            <p>
              {{listMed.email}}
            </p>
          </ion-label>
        </ion-item>

      </ion-item-sliding>
    </ion-item>

    <div>
      <ion-row>
        <ion-fab horizontal="center" style="margin-bottom: 10px;">
          <ion-button shape="round" color="tertiary" [routerLink]="['/home']">
            <ion-label>
              < Voltar </ion-label>
          </ion-button>
        </ion-fab>
      </ion-row>
    </div>
    <div style="margin-top: 55px;">
      <ion-row *ngIf="mainContactList">
        <ion-fab horizontal="center" style="margin-bottom: 10px;">
          <ion-button shape="round" color="tertiary" (click)="clickButton('mainContact')"
            [routerLink]="['/contacts/register']">
            <ion-label>Cadastrar ></ion-label>
          </ion-button>
        </ion-fab>
      </ion-row>
      <ion-row *ngIf="!mainContactList">
        <ion-fab horizontal="center" style="margin-bottom: 10px;">
          <ion-button shape="round" color="tertiary" (click)="clickButton('medicalContact')"
            [routerLink]="['/contacts/register']">
            <ion-label> Cadastrar > </ion-label>
          </ion-button>
        </ion-fab>
      </ion-row>
    </div>
  </div>
</ion-content>