<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-title>
          Você não está sozinho
        </ion-title>

      </ion-row>

      <ion-row style="margin-top: 10%;">
        <ion-col><ion-button class="card-button" color="secondary"
            [routerLink]="['/relaxation-center']">Relaxar</ion-button></ion-col>
        <ion-col><ion-button class="card-button" color="secondary"
            [routerLink]="['/dashboard']">Progresso</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button class="card-button" color="secondary"
            [routerLink]="['/lessons']">Lições</ion-button></ion-col>
        <ion-col><ion-button class="card-button" color="secondary" [routerLink]="['/mood']">Meu
            Humor</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button class="card-button" color="secondary" [routerLink]="['/main-contact']">Meu
            Anjo</ion-button></ion-col>
        <ion-col><ion-button class="card-button" color="secondary"
            [routerLink]="['/medical-contact']">Medicos</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button class="card-button" color="secondary"
            [routerLink]="['/notes']">Anotações</ion-button></ion-col>
        <ion-col><ion-button class="card-button" color="secondary"
            [routerLink]="['/settings']">Configurações</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <app-panic-button></app-panic-button>


  <!-- <div class="bottom">
    <ion-button expand="block" (click)="logout()" >LogOut</ion-button>

  </div> -->
</ion-content>