<!-- <app-header></app-header> -->
<ion-content>
  <div id="header">
    <div id="teste">
      <ion-grid>
        <ion-row>
          <span>
            <h1 >{{userCurrent.nome}}</h1>
          </span>
          
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="--border-color: #beeec4;" color="tertiary" [routerLink]="['/relaxation-center']">
              <ion-icon src="../../../assets/icon/hands-praying-solid.svg" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-label>Relaxar</ion-label>
          </ion-col>
          <ion-col>
            <ion-button style="--border-color: #beeec4;" color="tertiary" [routerLink]="['/dashboard']">
              <ion-icon src="../../../assets/icon/chart-simple-solid.svg" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-label>Progresso</ion-label>
          </ion-col>
          <ion-col>
            <ion-button style="--border-color: #beeec4;" color="tertiary" [routerLink]="['/lessons']">
              <ion-icon src="../../../assets/icon/clipboard-regular.svg" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-label>Lições</ion-label>
          </ion-col>
          

        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button style="--border-color: #beeec4; height: 50px !important;" color="tertiary" [routerLink]="['/mood']">
              <ion-icon src="../../../assets/icon/face-smile-wink-regular.svg" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-label>Humor</ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>

    </div>
    <div id="test2">
      <ion-grid style="margin-top: 60px;">
        <ion-row>
          <ion-col>
            <ion-button style="--border-color: #beeec4;" color="tertiary" (click)="clickButton('mainContact')"  [routerLink]="['/contacts']">
              <ion-icon src="../../../assets/icon/hands-holding-child-solid.svg" slot="icon-only"></ion-icon>

            </ion-button>
            <ion-label>Anjo</ion-label>
          </ion-col>
          <ion-col>
            <ion-button style="--border-color: #beeec4;" color="tertiary" (click)="clickButton('medicalContact')" [routerLink]="['/contacts']" >
              <ion-icon src="../../../assets/icon/hand-holding-medical-solid.svg" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-label>Médicos</ion-label>
          </ion-col>
          <ion-col>
            <ion-button style="--border-color: #beeec4;" color="tertiary" [routerLink]="['/user-register']">
              <ion-icon src="../../../assets/icon/paperclip-solid.svg" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-label>Config</ion-label>
          </ion-col>
          <ion-col>
            <ion-item (click)="logout()">
              <ion-icon name="exit-outline" slot="start"></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>
          </ion-col>
          
          <!-- <ion-col>
            <ion-button style="--border-color: #beeec4;" color="tertiary" [routerLink]="['/settings']">
              <ion-icon src="../../../assets/icon/gears-solid.svg" slot="icon-only"></ion-icon>
            </ion-button>
            <ion-label>Ajustes</ion-label>
          </ion-col> -->

        </ion-row>
      </ion-grid>

    </div>
  </div>


  <app-panic-button></app-panic-button>

</ion-content>

