.div-button{
    text-align: center;
    margin-top: 2%;
  }
  .panic-button{
    height: 150px;
      width: 150px;
      --border-radius:150px;
  }

  

  ion-button{
    --background:transparent;
    --box-shadow:transparent;

    
  }

  img{
    height: 194px;
  }